body, html {font-family: 'Open Sans', sans-serif; text-rendering: optimizeLegibility !important; -webkit-font-smoothing: antialiased !important; color: #666; font-weight: 400; width: 100% !important; height: 100% !important;}
h2 {font-family: 'Montserrat', sans-serif; margin: 0 0 20px 0; font-weight: 700; font-size: 32px; color: #333;}
h3 {font-family: 'Montserrat', sans-serif; font-size: 22px; font-weight: 700; color: #333;}
h4 {font-size: 18px; color: #333;}
h5 {text-transform: uppercase; font-weight: 700; line-height: 20px;}
p {font-size: 15px;}
p.intro {margin: 12px 0 0; line-height: 24px;}
a {color: #1f386e; font-weight: 400;}
a:hover, a:focus {text-decoration: none; color: #e52f3c;transition: all 0.3s;}
ul, ol {list-style: none; padding: 0;}
hr {height: 2px; width: 70px; text-align: center; position: relative; background: #1E7A46; margin-bottom: 20px; border: 0;}
/* Navigation */
#menu {padding: 10px; transition: all 0.8s;}
#menu.navbar-default {background-color: #fff; border-color: rgba(231, 231, 231, 0); box-shadow: 0 0 30px rgba(0,0,0,0.2)}
#menu a.navbar-brand {font-family: 'Montserrat', sans-serif; font-size: 32px; font-weight: 700; color: #1f386e; text-transform: uppercase; letter-spacing: -1px;}
#menu.navbar-default .navbar-nav > li > a {font-family: 'Montserrat', sans-serif; text-transform: uppercase; color: #1f386e; font-size: 14px; font-weight: 700; padding: 8px 2px; border-radius: 0; margin: 9px 20px 0 20px; background-color: transparent;}
#menu.navbar-default .navbar-nav > li > a:hover {color: #ce2a36;}
#menu.navbar-default .navbar-nav > .active > a, #menu.navbar-default .navbar-nav > .active > a:hover, #menu.navbar-default .navbar-nav > .active > a:focus {color: #ce2a36 !important; background-color: transparent;}
#menu .phone {font-family: 'Montserrat', sans-serif; margin: 4px 0 0 120px; float: left; font-size: 16px; font-weight: 400; color: #999;}
#menu .phone span {font-size: 14px; display: block; color: #1f386e;}
#menu.navbar-toggle {border-radius: 0;}
#menu.navbar-default .navbar-toggle:hover, #menu.navbar-default .navbar-toggle:focus {background-color: #fff; border-color: #fff;}
#menu.navbar-default .navbar-toggle:hover>.icon-bar {background-color: #1f386e;}
/* Navigation - Custom dropdown */
#menu .dropdown-menu {box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); border: none;}
#menu .dropdown-menu li {padding: 6px 26px;}
#menu .navbar-collapse .nav .dropdown .dropdown-menu li a {font-weight: bold; text-transform: uppercase; color: #1f386e; padding: 0;}
#menu .navbar-collapse .nav .dropdown .dropdown-menu li a:hover {background-color: transparent; color: #ce2a36;}
#menu .navbar-collapse .nav .dropdown .dropdown-menu li a:focus {background-color: transparent;}
#menu .navbar-collapse .nav .dropdown .dropdown-menu > .active > a, 
#menu .navbar-collapse .nav .dropdown .dropdown-menu > .active > a:hover, 
#menu .navbar-collapse .nav .dropdown .dropdown-menu > .active > a:focus {background-color: transparent; color: #ce2a36;}
#menu .dropdown-btn {cursor: pointer;}
#menu.navbar-fixed-top .navbar-collapse, #menu.navbar-fixed-bottom .navbar-collapse {max-height: 100%; overflow: hidden;}
/* Content style */
.section-title {margin-bottom: 70px;}
.section-title h2 {position: relative; margin-top: 10px; margin-bottom: 15px; padding-bottom: 15px; border-bottom: 1px solid rgba(0, 0, 0, 0.09);}
.section-title h2::after {position: absolute; content: ""; background-color: #e52f3c; height: 3px; width: 50px; bottom: -1px; left: 0;}
.btn-custom {text-transform: uppercase; color: #fff; background-color: #e52f3c; padding: 14px 20px; letter-spacing: 1px; margin: 0; font-size: 14px; font-weight: 600; border-radius: 4px; transition: all 0.3s;}
.btn-custom:hover, .btn-custom:focus, .btn-custom.focus, .btn-custom:active, .btn-custom.active {color: #fff; background-color: #1f386e;}
.btn:active, .btn.active {background-image: none; outline: 0; -webkit-box-shadow: none; box-shadow: none;}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {outline: none; outline-offset: none;}
/* Header Section */
#header .intro {display: table; width: 100%; height: 100vh; padding: 0; background: url(../img/intro-bg.jpg) center center no-repeat; background-color: #e5e5e5; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover; -o-background-size: cover;}
#header .intro .overlay {background: rgba(0,0,0,0.3); height: 100%;}
#header .intro h1 {font-family: 'Montserrat', sans-serif; color: #fff; font-size: 62px; font-weight: 700; margin-top: 0; margin-bottom: 10px; text-shadow: 0 0 15px rgba(0,0,0,0.5)}
#header .intro p {color: #fff; font-size: 17px; line-height: 28px; padding: 15px; max-width: 600px; margin: 0 auto; margin-bottom: 40px; background: rgba(0,0,0,.45);}
#header .intro-text {padding-top: 30vh; padding-bottom: 50px; text-align: center;}
/* Get Touch Section */
#get-touch {padding: 40px 0; color: rgba(255,255,255,.7); background: #1f386e;}
#get-touch a {color: rgba(255,255,255,.65);}
#get-touch a:hover {color: #e52f3c;}
#get-touch h3 {font-size: 24px; font-weight: 400; color: #fff; margin: 0 0 10px 0;}
#get-touch .btn-custom {margin: 0; background: transparent; border: 2px solid #fff; white-space: pre-line;}
#get-touch .btn-custom:hover {color: #1f386e; background: #fff; border: 2px solid #fff;}
/* About Section */
#about {padding: 110px 0; background: #f6f6f6;}
#about h3 {font-size: 22px; margin: 0 0 20px 0;}
#about h2 {position: relative; margin-bottom: 15px; padding-bottom: 15px; border-bottom: 1px solid rgba(0, 0, 0, 0.09);}
#about h2::after {position: absolute; content: ""; background-color: #e52f3c; height: 3px; width: 50px; bottom: -1px; left: 0;}
#about .about-text li, #services .service-desc li {margin-bottom: 6px; margin-left: 6px; list-style: none; padding: 0;}
#about .about-text li:before, #services .service-desc li:before {content: '\f105'; font-family: 'FontAwesome'; color: #e52f3c; font-weight: 300; padding-right: 8px;}
#about img {padding: 20px; margin-top: 10px; background: #fff; border-right: 0; box-shadow: 0 0 50px rgba(0,0,0,0.06);}
#about p {line-height: 24px; margin: 30px 0;}
/* Services Section */
#services {padding: 100px 0;}
#services .service-media {margin: 10px; text-align: center;}
#services .service-media img {position: relative; display: block; width: 100%; height: auto;}
#services .service-media .fa {font-size: 100px; color: #1f386e;}
#services .service-media .fa:after {content: ''; width: 100px; height: 100px; background: #1f386e; position: absolute; margin-left: -93px; border-radius: 50%; opacity: 0.1;}
#services .service-desc {margin: 10px 10px 20px; text-align: center;}
#services h3 {font-weight: 700; padding: 5px 0; min-height: 82px;}
#services .service-desc hr {margin-left: 0;}
/* Portfolio Section */
#portfolio {padding: 100px 0;}
#portfolio .single-project {margin-bottom: 30px; background: #f6f6f6;}
#portfolio .single-project img {display: block; max-width: 100%; margin-left: auto; margin-right: auto;}
#portfolio .project-description {padding: 0 20px;}
#portfolio .project-description p {padding-left: 0;}
#portfolio .project-title {margin-top: 15px; margin-bottom: 15px; border-bottom: 1px solid #1f386e;}
#portfolio .project-title h3 {float: left; margin-top: 0; padding: 0; width: 80%;}
#portfolio .project-title .close {color: #1f386e; opacity: 1;}
#portfolio .project-title .close:hover {opacity: 0.5; transition: all 0.3s;}
#portfolio .project-info span, .project-title h3 {color: #1f386e;}
#portfolio .project-info {font-weight: 100; padding: 10px 0;}
#portfolio .project-info span {width: 80px; display: inline-block;}
#portfolio .project-info div {margin-bottom: 5px;}
#portfolio #portfolio-grid .mix {opacity: 0; display: none;}
#portfolio .thumbnail {width: 100%; height: 100%; padding: 0; overflow: hidden; position: relative; border: 0; border-radius: 0; box-shadow: none; text-align: center; background: #f6f6f6;}
#portfolio .thumbnail > img {display: block; max-width: 100%; margin-right: auto; margin-left: auto;}
#portfolio .thumbnail .more {display: block; z-index: 4; position: absolute; top: -100px; left: 50%; margin: 0 auto; margin-left: -68px; color: #fff; text-decoration: none; line-height: 70px; text-align: center; font-size: 22px; font-weight: 800; text-transform: uppercase;}
#portfolio .thumbnail:hover .more {top: calc(50% - 70px); margin-top: -20px; -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -o-transition: all 0.3 s ease-out; -ms-transition: all 0.3s ease-out; transition: all 0.3s ease-out; color: #1f386e;}
#portfolio .thumbnail h3, #portfolio .thumbnail p {margin: 0; padding: 3px 5px; position: relative; z-index: 4;}
#portfolio .thumbnail h3 {color: #1f386e; margin-top:10px; font-size:20px;}
#portfolio .thumbnail p {padding-bottom: 20px;}
#portfolio .thumbnail .mask {opacity: 0.85; filter: alpha(opacity=85); top: 100%; left: 0; width: 100%; height: 100%; background: #f6f6f6; position: absolute; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2 s ease-out; -ms-transition: all 0.2s ease-out; transition: all 0.2s ease-out;}
#portfolio .thumbnail:hover .mask {top: 0;}
/* Gallery Section */
#gallery {padding: 100px 0; background: #f6f6f6;}
#gallery .gallery-item {margin: 15px 0;}
#gallery .gallery-item .hover-bg {overflow: hidden; position: relative;}
#gallery .gallery-img {display: none;}
#gallery .hover-bg .hover-text {position: absolute; color: #1f386e; background: rgba(246, 246, 246, 0.8); height: 100%; width: 100%; opacity: 0; transition: all 0.5s;}
#gallery .hover-bg .hover-text > h4 {display: flex; justify-content: center; align-items: center; text-align: center; height: 100%; margin: 0 10px; color: #1f386e; font-size: 22px; font-weight: 800; text-transform: uppercase; opacity: 0; transition: all 0.3s;}
#gallery .hover-bg:hover .hover-text > h4, #gallery .hover-bg:hover .hover-text {opacity: 1;}
/* Testimonial Section */
#testimonial {padding: 100px 0 60px 0;}
#testimonial.testimonial {position: relative;}
#testimonial .main_testimonial {position: relative; z-index: 1;}
#testimonial .main_testimonial .testimonial_item h6 {font-size: 16px; font-family: 'Montserrat', sans-serif; font-weight: 400; margin-bottom: 10px;}
#testimonial .main_testimonial .testimonial_item p {font-size: 14px; width: 80%; margin: 20px auto;}
#testimonial .main_testimonial .carousel-control {width: 90px; height: 90px; line-height: 42px; text-align: center; color: #999; cursor: pointer; position: relative; background-image: none; display: inline-block; font-size: 28px;}
#testimonial .main_testimonial .carousel-control.left, #testimonial .main_testimonial .carousel-control.right {box-shadow: 0px 0px 0px; opacity: 1;}
#testimonial .main_testimonial .slash {font-size: 28px; color: #ddd; height: 90px; bottom: -2px; display: inline-block; position: relative;}
#testimonial .test_authour img {margin: 0px auto;}
/* Partner Section */
#partner {padding: 100px 0 60px 0;}
#partner .partner-logo {margin-bottom: 30px; width: 100%; vertical-align: middle; display: -moz-inline-stack; display: inline-block; zoom: 1;}
/* Blog Section */
#blog {padding: 100px 0 60px 0; background: #f6f6f6;}
#blog .blog {margin-bottom: 40px;}
#blog .blog-grid {width: 100%; height: 350px; background-size: cover; background-position: center center; position: relative;}
#blog .blog-grid .date {width: 90px; text-align: center; padding: 10px;	background: #fff;}
#blog .blog-grid .date span, #blog .blog-grid .date small {display: block; color: #333;}
#blog .blog-grid .date span {font-size: 30px;}
#blog .blog-grid .date small {font-size: 13px; letter-spacing: 2px; text-transform: uppercase;}
#blog .desc {width: 100%; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; flex-wrap: wrap; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; background: #fff;}
#blog .desc .desc-grid {width: 80%; padding: 20px;}
#blog .desc .desc-grid h3, #blog .desc .reading .fa {padding: 2px 0 0 0; margin: 0; font-size: 18px;}
#blog .desc:hover .desc-grid h3 {color: #1f386e; transition: all 0.3s;}
#blog .desc:hover .reading {color: #fff; background: #1f386e;}
#blog .desc .reading {width: 15%; background: transparent; color: #1f386e; border: 2px solid #1f386e; margin: auto;}
/* Blog Section - Blog-Modal Pre-Section */
#blog .blog-modal {padding-right: 0 !important;}
#blog .blog-modal .modal-dialog {margin: 0; height: 100%; width: auto;}
#blog .blog-modal .modal-content {border-radius: 0; background-clip: border-box; -webkit-box-shadow: none; box-shadow: none; border: none; min-height: 100%; padding: 100px 0; text-align: center;}
#blog .blog-modal .close-modal {position: absolute; width: 75px; height: 75px; background-color: transparent; top: 25px; right: 25px; cursor: pointer;}
#blog .blog-modal .close-modal:hover {opacity: .3;}
#blog .blog-modal .close-modal .lr {height: 75px; width: 1px; margin-left: 35px; background-color: #222; transform: rotate(45deg); -ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); z-index: 10;}
#blog .blog-modal .close-modal .lr .rl {height: 75px; width: 1px; background-color: #222; transform: rotate(90deg); -ms-transform: rotate(90deg); -webkit-transform: rotate(90deg); z-index: 10;}
#blog .blog-modal .modal-content h2 {text-transform: uppercase; margin-bottom: 15px; font-size: 3em;}
#blog .blog-modal .modal-content p {margin-bottom: 30px;}
#blog .blog-modal .modal-content p.item-intro {margin: 20px 0 30px; font-style: italic; font-size: 16px;}
#blog .blog-modal .modal-content img {margin-bottom: 30px;}
#blog .img-centered {margin: 0 auto;}
#blog .blog-modal .modal-content ul.list-inline {margin-bottom: 30px; margin-top: 0;}
/* Contact Section */
#contact {padding: 100px 0 60px 0; background: #1f386e; color: rgba(255,255,255,.65);}
#contact a {color: rgba(255,255,255,.65);}
#contact a:hover {color: #e52f3c;}
#contact .section-title {margin-bottom: 40px;}
#contact h2 {color: #fff; margin-top: 10px; margin-bottom: 15px; padding-bottom: 15px; border-bottom: 1px solid rgba(255, 255, 255, 0.09);}
#contact h4 {color: #fff; margin-top: 22px; margin-bottom: 60px; padding-bottom: 20px; border-bottom: 1px solid rgba(255, 255, 255, 0.09);}
#contact form {padding-top: 20px;}
#contact h3 {font-size: 17px; font-weight: 600;}
#contact .text-danger {color: #cc0033; text-align: left;}
#contact .btn-custom {margin: 30px 0; background: transparent; border: 2px solid #fff;}
#contact .btn-custom:hover {color: #1f386e; background: #fff;}
#contact .form-control {display: block; width: 100%; padding: 6px 12px; font-size: 16px; line-height: 1.42857143; color: #444; background-color: #fff; background-image: none; border: 1px solid #ddd; border-radius: 3px; -webkit-box-shadow: none; box-shadow: none; -webkit-transition: none; -o-transition: none; transition: none;}
#contact .form-control:focus {border-color: #999; outline: 0; -webkit-box-shadow: transparent; box-shadow: transparent;}
#contact .form-control::-webkit-input-placeholder {color: #777;}
#contact .form-control:-moz-placeholder {color: #777;}
#contact .form-control::-moz-placeholder {color: #777;}
#contact .form-control:-ms-input-placeholder {color: #777;}
#contact .contact-item {margin: 20px 0;}
#contact .contact-item span {color: rgba(255,255,255,1); display: block;}
#contact .social {border-top: 1px solid rgba(255,255,255,0.1); padding-top: 50px; margin-top: 50px; text-align: center;}
#contact .social ul li {display: inline-block; margin: 0 20px;}
#contact .social i.fa {font-size: 24px; padding: 10px; color: rgba(255,255,255,0.6); transition: all 0.3s;}
#contact .social i.fa:hover {color: #fff;}
/* Footer Section*/
#footer {background: #f6f6f6; padding: 30px 0;}
#footer p {color: #888; font-size: 14px;}
#footer a {color: #1f386e;}
#footer a:hover {color: #e52f3c;}

/* Responsive */
@media (max-width: 991px) {
	/* Change width for collapse menu */
    #menu .navbar-header {float: none;}
    #menu .navbar-left, #menu .navbar-right {float: none !important;}
    #menu .navbar-toggle {display: block;}
    #menu .navbar-collapse {border-top: 1px solid transparent; box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);}
    #menu .navbar-fixed-top {top: 0; border-width: 0 0 1px;}
    #menu .navbar-collapse.collapse {display: none !important;}
    #menu .navbar-nav {float: none !important; margin-top: 7.5px;}
    #menu .navbar-nav>li {float: none;}
    #menu .navbar-nav>li>a {padding-top: 10px; padding-bottom: 10px;}
    #menu .collapse.in{display: block !important;}
	
	#menu .navbar-nav .open .dropdown-menu {position: static; float: none; width: auto; margin-top: 0; background-color: transparent; border: 0; -webkit-box-shadow: none; box-shadow: none;}
	#menu .dropdown-menu li {padding: 6px 40px;}
	#about .about-text {margin-top: 20px;}
	#services h3 {min-height: inherit;}
	#blog .blog-grid {height: 250px;}
}
@media (max-width: 768px) {
	.section-title {margin-bottom: 60px;}
	#header .intro h1 {font-size: 36px;}
}
@media (min-width: 768px) {
	.vertical-align {display: flex; align-items: center;}
}
@media (max-width: 480px) {
	.section-title {margin-bottom: 50px;}
	#about, #services, #portfolio, #gallery, #testimonial, #partner, #blog, #contact {padding: 50px 0;}
	#testimonial {padding-bottom: 0;}
	#blog .blog-grid {height: 200px;}
	#contact h4 {margin-bottom: 30px;}
	#portfolio .thumbnail .mask {top: 0; opacity: 0.7;}
	#portfolio .thumbnail .more {top: 20%; color: #1f386e; margin-top: 0;}
	#portfolio .project-description {padding: 0 10px;}
	#gallery .hover-bg .hover-text > h4, #gallery .hover-bg .hover-text {opacity: 1;}
	#blog .blog-modal .close-modal {width: 35px; height: 35px; right: 35px;}
	#blog .blog-modal .close-modal .lr, #blog .blog-modal .close-modal .lr .rl {height: 35px;}
	#blog .blog-modal .modal-content {padding: 50px 0;}
}